trigger:
  branches:
    include:
      - main
      - develop
      - feature/*

pool:
  vmImage: "ubuntu-latest"

steps:
  - task: UsePythonVersion@0
    inputs:
      versionSpec: "3.11"

  - script: |
      python -m pip install --upgrade pip
      pip install poetry
      poetry install
    displayName: "Install dependencies"

  - script: |
      poetry run ruff check .
    displayName: "Lint (ruff)"

  - script: |
      poetry run pytest -q
    displayName: "Run tests"